.productscreen__container {
  display: flex;  
}

.productscreen__container ul {
  padding: 5px 10px;
  list-style: none;
}
.productscreen__image {
  flex:1;  
}
.productscreen__image > img {
  margin: 10px;
  height: 500px;
  width: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.productscreen__productInfo {
  flex: 0.5;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.row {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
}
.productscreen__action {
  width: 300px;
  height: 300px;
  margin: 0 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(245, 231, 234);
}

.productscreen__card button {
  background-color: #f0c040;
  border-radius: 0.3rem;
  border: 1px solid #a4a4a4;
  width: 100%;
  height: 25px;
}

.productscreen__card button:hover {
  border: 0.1rem solid #404040;
  cursor: pointer;
}
